<h1>Liste des visiteurs</h1>

<div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Discriminator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let visiteur of Visiteurs">
          <td>{{visiteur.id}}</td>
          <td>{{visiteur.nom}}</td>
          <td>{{visiteur.discriminator}}</td>
          <td><button class='btn btn-info' (click)='getcurrent(visiteur)'>Modifier</button></td>
        </tr>
      </tbody>
  </table>
 </div>
